.table {
  text-align: left;
}

.table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

tbody tr {
  cursor: pointer;
}

th, td {
  padding: 4px;
}

.cancelled {
  text-decoration: line-through;
}
